body{
    background-color: grey;
}

#wrapper{
    width: 800px;
    margin-top: 15%;
    margin: auto;
}

#save {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  text-align: center;
  line-height: 50px
}

.section {
  width: 97%;
  height: 50px;
  line-height: 50px;
  background-color: aqua;
  padding-left: 3%;
  position: relative;
  z-index: 1;
}

.section.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}

.section.fixed.absolute {
  position: absolute;
}

.blank {
  height: 800px;
}
